<html>
    <head>
        <title>Order</title>
        <style>
        img {
        
        max-width: 75%;
        height: 50%;
        }
        table, td, th {    
            border: 1px solid #ddd;
            text-align: left;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
        }
        
        th, td {
            padding: 15px;
        }

        .right {
            float:right;
        }

        
        </style>
    </head>
    <body>
        <center><h2>PREVIEW</h2></center>
        <center><img src='/img/result/<%=frameData.id%><%=handlebarData.id%><%=rimData.id%>.jpg'></center>
        <!-- <%= JSON.stringify(frameData) %>
        <%= JSON.stringify(handlebarData) %>
        <%= JSON.stringify(rimData) %> -->
        <br>
        
        <table>
            <tr>
                <th>Spareparts</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Frame</td>
                <td><%= frameData.frame_name %></td>
                <td><%= frameData.frame_price %></td>
            </tr>
            <tr>
                <td>Handlebar</td>
                <td><%= handlebarData.handlebar_name %></td>
                <td><%= handlebarData.handlebar_price %></td>
            </tr>
            <tr>
                <td>Rims</td>
                <td><%= rimData.rim_name %></td>
                <td><%= rimData.rim_price %></td>
            </tr>
        </table>

        <br>

        <table>
            <tr>
                <th>Total Price : </th>
                <th><%= frameData.frame_price+handlebarData.handlebar_price+rimData.rim_price %></th>
            </tr>
        </table>
        <!-- <h2 class='left'>Total Price : <%= frameData.frame_price+handlebarData.handlebar_price+rimData.rim_price %></h2> -->
        <form action='/products/finish' method='POST'>
        <input type='hidden' name='FrameId' value='<%=frameData.id%>'>
        <input type='hidden' name='HandlebarId' value='<%=handlebarData.id%>'>
        <input type='hidden' name='RimId' value='<%=rimData.id%>'>
        <input type='hidden' name='TotalPrice' value='<%= frameData.frame_price+handlebarData.handlebar_price+rimData.rim_price %>'
        <br>
        <button class='right' action= type="button">Back</button><input class='right' type='submit' value='Continue'>
        <br>
        </form>
        

    </body>
</html>